<!-- Dependency resources -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./grid-view.html">

<dom-module id="booking-view">
    <template>
        <div> Hello booking </div>
        <header-view id="headerComponentView"> </header-view>
    </template>

    <script>
        class BookingView extends Polymer.Element {
            static get is() {
                return 'booking-view'
            }
        }
        customElements.define(BookingView.is, BookingView);
    </script>
</dom-module>
