<!-- Dependency resources -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- Defines the example-template element -->
<dom-module id="example-template">
    <template>
        <span>[[value]]</span>
        <div> When we click on the 'tab two' the first time the grid is not populated
        But it's populated when I access the second time</div>
        <div id="groupList"></div>
    </template>

    <!-- Polymer boilerplate to register the example-template element -->
    <script>
        class ExampleTemplate extends Polymer.Element {
            static get is() {
                return 'example-template'
            }
        }
        window.customElements.define(ExampleTemplate.is, ExampleTemplate);
    </script>
</dom-module>
