<!-- Dependency resources -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="header-view">
    <template>
        <div> Hello header </div>
        <div id="divGrid"></div>
    </template>

    <script>
        class HeaderView extends Polymer.Element {
            static get is() {
                return 'header-view'
            }
        }
        window.customElements.define(HeaderView.is, HeaderView);
    </script>
</dom-module>
